.buy-title{

text-align:center;
margin-top:100px;
font-size:40px;

}

.plans{

display:flex;
justify-content:center;
gap:30px;
margin-top:40px;

}

.plan-card{

background:#1f1f1f;
padding:30px;

width:250px;
border-radius:10px;

text-align:center;

transition:0.3s;

}

.plan-card:hover{

transform:scale(1.05);

}

.plan-card h3{

color:#4dbf00;
margin:15px 0;

}

.plan-card ul{

list-style:none;
padding:0;

}

.plan-card ul li{

margin:10px 0;

}

.buy-btn{

background:#4dbf00;
border:none;

padding:10px 20px;

color:white;
border-radius:5px;

cursor:pointer;

}

.buy-btn:hover{

background:#6aff00;

}

.popular{

border:2px solid #4dbf00;

}