body{
background:#151515;
color:white;
font-family:Arial;
margin:0;
}

.container{
text-align:center;
padding:60px;
}

h1{
font-size:40px;
margin-bottom:10px;
}

.devices-grid{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.device-card{
background:#222;
padding:30px;
border-radius:10px;
width:200px;
transition:0.3s;
}

.device-card:hover{
background:#4dbf00;
color:black;
transform:scale(1.05);
}

.back-btn{
display:inline-block;
margin-top:40px;
padding:12px 25px;
background:#4dbf00;
color:black;
text-decoration:none;
border-radius:20px;
font-weight:bold;
}